{% extends "tracker/base.html" %}


{% block title %}
Studenten
{% endblock %}


{% block content %}

<h1 class="mb-4">
    Manage students
</h1>


<div class="card shadow">

    <div class="card-header d-flex justify-content-between align-items-center">

        <span>
            All students
        </span>


        <button
            class="btn btn-outline-success btn-sm"
            hx-get="{% url 'create-student' %}"
            hx-target="#student-card"
            hx-swap="innerHTML">

            ➕

        </button>


    </div>


    <div class="card-body">
         <div id="student-card">

        </div>

        <div id="student-table">

            {% include "tracker/partials/student_table.html" %}

        </div>


       


    </div>

</div>


{% endblock %}